<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main-menu">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_left align-items-center">
                    {{!-- <h2 class="paraClr"><span id="paraClr">Welcome </span> To This Website</h2>
                    <h1>Check Latest <span id="clr">Weather</span> Of Your City</h1>
                    <a href="/weather"><button class="btn btn-primary">Check Now</button></a> --}}

                </div>
                {{!-- <div class="col-md-6 col-12 main_header_right">
                    
                </div> --}}
            </div>
        </div>
    </div>
</div>
</body>
{{>footer}}
</html>