<div class="container-fluid main-menu">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <footer>Copyright reserved @ 2020 Harshit</footer>
        </div>
    </div>
</div>